<div class="nav_container">
  <div class="content">
    <ul>
      <li><a class="btn-outline-light" routerLinkActive="active_link" routerLink="biography/:{{this.id}}">Биография</a></li>
      <li><a class="btn-outline-light" routerLinkActive="active_link" routerLink="education/:{{this.id}}">Образование</a></li>
      <li><a class="btn-outline-light" routerLinkActive="active_link" routerLink="chronology/:{{this.id}}">Хронология</a></li>
      <li><a class="btn-outline-light" routerLinkActive="active_link" routerLink="quotes/:{{this.id}}">Цитаты</a></li>
      <li><a class="btn-outline-light" routerLinkActive="active_link" routerLink="authorsQuotes/:{{this.id}}">Цитаты об авторе</a></li>
      <li><a class="btn-outline-light" routerLinkActive="active_link" routerLink="works/:{{this.id}}">Работы деятеля</a></li>
      <li><a class="btn-outline-light" routerLinkActive="active_link" routerLink="reviews/:{{this.id}}">Отзывы</a></li>
      <li><a class="btn-outline-light last" routerLinkActive="active_link" routerLink="photos/:{{this.id}}">Фотоархив</a></li>
    </ul>
  </div>
</div>
