body{
}

.my_container_0{
  width:80%;
  margin: 0 auto;
  padding: 20px 0;
}

.my_container_1{
  display: inline-block;
  h3{
    color: white;
    font-weight: bold;
  }
  p{
    color:#aaa;
  }
  width:60%;
}
.my_container_2 {
  display: inline-block;
  width:35%;
}

