<div class = "bg-dark" *ngIf="clicked">
  <div class = 'my_container_0'>
    <button class="btn btn-outline-light float-right" routerLink="/admin">Админ</button>
    <div class="my_container_1">
      <h3>About</h3>
      <p >Add some information about the album below, the author,
        or any other background context. Make it a few sentences long
        so folks can pick up some informative tidbits. Then, link them
        off to some social networking sites or contact information.</p>
    </div>
    <div class="my_container_2">
      <span class="text-white">Created by Dimka & DPostnik</span>
    </div>
  </div>
</div>
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>

<nav class="navbar navbar-dark bg-dark">
  <a routerLink="/" class="navbar-brand d-flex">
    <strong>Белорусские деятели</strong>
  </a>
  <div>
    <button  type="button" routerLink="/user" class="btn btn-outline-success rounded-pill mr-2">Войти</button>
    <button  type="button" routerLink="/user/registration" class="btn btn-outline-warning rounded-pill">Зарегистрироваться</button>
  </div>
  <button class="navbar-toggler " (click)="clicked = !clicked" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span>Menu</span><span class="navbar-toggler-icon"></span>
  </button>
</nav>


<body>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>


<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-dark">
    <span class ="text-white">Site by Dimka & DPostnik<br>
    © 2020 Copyright: Figures of Grodno</span>
  </div>
  <!-- Copyright -->

</footer>
