@font-face {
  font-family: 'Monst';
  src: url('shared/fonts/Montserrat/Montserrat-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: 'Monst-lite';
  src: url('shared/fonts/Montserrat/Montserrat-Light.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins-bold';
  src: url("shared/fonts/Poppins-Black.ttf");
  font-style: auto;
  font-weight: bold;
}
