.form_login
{
  margin:150px auto;
  width:40%;
  border: 1px solid #aaa;
  border-radius: 2px;
  div{
    margin-bottom:15px;
  }

  h2{
    margin-bottom: 20px;
  }
  padding:15px;
}

.validation
{
  color: red;
}
