<nav class="navbar navbar-dark bg-dark">
  <a href="#" class="navbar-brand d-flex align-items-center">
    <strong>Белорусские деятели</strong>
  </a>
</nav>

<div class="container_figure">
    <app-figure-nav-bar></app-figure-nav-bar>
    <app-figure-information></app-figure-information>
</div>


<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-dark">
    <span class ="text-white">Site by Dimka & DPostnik<br>
    © 2020 Copyright: Figures of Grodno</span>
  </div>
  <!-- Copyright -->

</footer>
